.PlayScreen
{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	letter-spacing: 1px;
	font-size:20px;
}
.PlayScreen .hudContainer {
	margin:8px;
}
.PlayScreen progress
{
	background-color:green;
	display: block;
	width:100%;
}
div.healthBar
{
	border:1px solid #383838;
	background-color:gray;
	border-radius:3px;
	height:14px;
}
div.healthBar span
{
	display: block;
	background-color:limegreen;
	height:100%;
}