body {
    overflow: hidden;
    margin: 0px;
    background: #3A3A3A;
}
.container { 
    margin-left:auto;
    margin-right: auto;
}
.legend
{
    background-color:#F3F3F3;
    border:1px solid gray;
    border-radius:4px;
    margin:10px;
    padding:10px;
    width:50%;
}
.legend h2
{
    padding:3px;
    margin:0px;
}
.legend p
{
    line-height: 200%;
}
img {
    display: none;
}
canvas {
    margin-left:auto;
    margin-right: auto;
}